<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div th:replace="fragments/fragments :: head"></div>

<body>
<div th:replace="fragments/fragments :: navbar"></div>

<main role="main" class="container">
    <h1 class="my-4" th:text="${categoryName}"></h1>
    <div th:each="book: ${books}" >
        <!-- Project -->
        <div class="row">
            <div class="col-6 col-md-4 text-center">
                <a href="#" >
                    <img class="img-fluid rounded mb-3 mb-md-0 text-center" width="200" height="250"
                         th:src="@{'~/img/' + ${book.imageName}}" alt="" >
                </a>
            </div>
            </ul>
            <div class="col-12 col-md-8">
                <span th:each="category: ${book.categories}">
                    <a class="badge badge-dark"
                       th:text="${category.name}"
                       th:href="@{'~/category/' + ${category.id}}">
                    </a>
                </span>
                <div sec:authorize="hasAuthority('ADMIN')">
                    <span class="btn-group pull-right float-right">
                        <div class="btn-group dropleft" role="group">
                        <button type="button" class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split glyphicon glyphicon-cog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only"></span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{'edit/' + ${book.id}}">Редатировать</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{'delete/' + ${book.id}}">Удалить</a>
                        </div>
                        </div>
                    </span>
                </div>
                <h3 th:text="${book.bookName}"></h3>
                <p th:text="${book.description}"></p>
                <a class="btn btn-outline-dark" href="#">Подробнее</a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
    </div>
</main>

<div th:replace="fragments/fragments :: scripts"></div>
</body>
</html>
